<!--zh_cont_l-->
            <div class="zh_cont_l">
                <ul>
                    <li class="current"><a class="current" href="{:U('Member/Index')}">个人中心</a></li>
                    <li><a href="{:U('Userinfo/userselfset')}">基本认证</a></li>
                   <!--  <li>融资认证</li> -->
                </ul>  
                
                <ul>
                    <li><a href="{:U('Userinfo/usersaftyset')}">安全设置</a></li>
                    <li><a href="{:U('Userinfo/userchagerwithdraw')}">充值提现</a></li>
                    <li><a href="{:U('Friends/friends')}">好友管理</a></li>
                    <li><a href="{:U('System/usermailindex')}">通知管理</a></li>
                </ul> 
                 
                <ul>
                    <li>借款管理</li>
                    <li><a href="{:U('Invest/borrowmanager')}">我的借款</a></li>
                    <li><a href="{:U('Finance/borrowloanstatis')}">借款统计</a></li>
                    <li><a href="{:U('Invest/borrowmanager')}">还款明细</a></li>
                </ul>  
                <ul> 
                    <li>投资管理</li>
                    <li><a href="{:U('Invest/investindex')}">我的投资</a></li>
                    <li><a href="{:U('Finance/financestatis')}">投标统计</a></li>
                    <li>关注投标</li>
                    <!-- <li>自动投标</li> -->
                </ul>  
                
<!--                 <ul class="ul_last">
                    <li>债权管理</li>
                    <li>我的债权</li>
                </ul>  --> 
            </div>
 <!--zh_cont_r-->
