<extend name="Public/base"/>

<block name="body">

	<div class="main-title cf">
		<h2><if condition="$id eq '0' ">新增<else/>编辑</if>单页</h2>
	</div>
	<!-- 表单 -->
	<form id="form" action="{:addons_url('Singlepage://Singlepage/update')}" method="post" class="form-horizontal">
		<!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane in tab1">


			<div class="form-item cf">
				<label class="item-label">页面标题<span class="check-tips">（请输入网页显示标题）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="title" value="{$info.title}">
				</div>
			</div>
			
			
	        <?php if($id!=0){ ?>
                <input type="hidden" name="id" value="{$id}"/>
            <?php } ?>
            
		    <div class="form-item cf">
				<label class="item-label">页面关键字<span class="check-tips">（请输入网页显示关键字）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="wordkey" value="{$info.wordkey}">
				</div>
			</div>
			
	        
		    <div class="form-item cf">
				<label class="item-label">模板文件名<span class="check-tips">（相对于{$template}目录下）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="filename" value="{$info.filename}">
				</div>
			</div>

			


		</div>
		
		<div class="form-item cf">
			<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<input class="btn btn-return" type="reset" value="重置" />
		</div>
	</form>
</block>



<block name="script">
<script type="text/javascript">
$(function(){
	$('#submit').click(function(){
		$('#form').submit();
	});
});
</script>
</block>