  
    <!--footer start-->
    <div class="footer">
  		<div class="footer_in">
            <ul>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">法律指引</a></li>
                <li><a href="#">新手指引</a></li>
                <li><a href="#">理财攻略</a></li>           
            </ul>
            <ul>
              <li><a href="#">论坛</a></li>
              <li><a href="#">帮助中心</a></li>
              <li><a href="#">网站地图</a></li>
              <li><a href="#">友情链接</a></li>           
            </ul>
          <dl>
              <dt>合作伙伴</dt>
              <dd>
                  <ul>
                      <li><a href="#"><img src="__PUBLIC__/Home/images/footer_pic1.png" width="122" height="45" /></a></li>
                      <li><a href="#"><img src="__PUBLIC__/Home/images/footer_pic2.png" width="122" height="45" /></a></li>
                      <li><a href="#"><img src="__PUBLIC__/Home/images/footer_pic3.png" width="122" height="45" /></a></li>
                      <li><a href="#"><img src="__PUBLIC__/Home/images/footer_pic4.png" width="122" height="45" /></a></li>
                      <li><a href="#"><img src="__PUBLIC__/Home/images/footer_pic5.png" width="122" height="45" /></a></li>
                      <li><a href="#"><img src="__PUBLIC__/Home/images/footer_pic6.png" width="122" height="45" /></a></li>
                  </ul>
              </dd>
          </dl>
          <div class="footer_r">
            <p style="font-size:14px;">客服热线（工作时间8:00-22:00）</p>
            <p style="font-size:30px;">400 123 4567</p>
            <p>客服邮箱 kefu@gog.com  在线服务</p>
          </div>
   		</div>
    </div>
    <!--footer end-->
	
    <!--banQuan start-->
    <div class="banQuan">
    	<div class="banQuan_in">
        	<ul>
            	<li><img src="__PUBLIC__/Home/images/banQuan_pic1.png"/></li>
            	<li><img src="__PUBLIC__/Home/images/banQuan_pic2.png"/></li>
                <li><img src="__PUBLIC__/Home/images/banQuan_pic3.png"/></li>
                <li><img src="__PUBLIC__/Home/images/banQuan_pic4.png"/></li>
            </ul>
            <p>Copyrightc2011-2014工合财富 All rights reserved</p>
        </div>
    </div>
	<!--banQuan end-->