<!--header start-->
<div class="header_out">
	<div class="header">
		<ul>
			<li class="weibo"><div></div><a href="">官方微博</a></li>
			<li class="weixin"><div></div><a href="">官方微信</a></li>
			<li class="call"><div></div><a href="">客户热线：400-123-4567</a></li>
		</ul>
		<if condition="is_login()">
		<p>
			<a href="{:U('Member/Index/index')}"class="zc">{:get_username()}[个人中心]</a>&nbsp;|&nbsp;<a href="{:U('Home/User/logout')}"class="dl">安全退出</a>
		</p>
		<else/>
		<p>
			<a href="{:U('Home/User/register')}" class="zc btn">免费注册</a> |&nbsp;<a
				href="{:U('Home/User/login')}" class="dl btn">立即登录</a>
		</p>
		</if>

	</div>
</div>
<!--header end-->

<!--nav start-->
<div class="nav">
	<h1>
		<a href="index.html"><img src="__PUBLIC__/Home/images/logo.png"
			width="171" height="48" /></a>
	</h1>
	<ul class="nav_wrap">
		<li style="width: 40px;"><a href="{:U('Home/Index/index')}"
			class="current">首页</a></li>
		<li><a href="{:U('Home/Borrow/index')}">我要融资</a></li>
		<li><a href="{:U('Home/Finance/index')}">我要投资</a></li>
		<li><a href="{:U('Member/Index/index')}">我的账户</a></li>
		<li><a href="{:U('Home/Newhelp/borrowhelp')}">新手指引</a></li>
	</ul>
</div>
<!--nav end-->
