<block name="body">
<extend name="Base/common"/>
<block name="body">
 
<!-- 引用头部公共部分 -->
<!--woyaotouzi_banner start--->
    <div class="tz_banner">
    	<div class="tz_banner_in"></div>
    </div>
	<!--woyaotouzi_banner end--->
    
    
<!--content start-->
  <div class="tz_cont">
      <!--tz_cont_head01-->
      <ul class="tz_cont_head01">
          <li class="current">全部借款</li>
          <li>最近借款</li>
          <li>成功借款</li>
          <li class="tz_cont_head01_li_last">
              <span>标题</span>
                <input type="text" value="" class="text"/>
                <input type="button" value="" class="button"/>
            </li>            
        </ul>

      <!--tz_cont_head02-->
        <ul class="tz_cont_head02">
          <li class="tz_cont_head02_li01">标的类型:</li>
            <li class="current">信用标</li>
            <li>净值标</li>
            <li>秒还标</li>
            <li>担保标</li>
            <li>抵押标</li>
        </ul>

      <!--tz_cont_head03-->       
        <ul class="tz_cont_head03">
          <li>项目</li>
          <li class="li02">借款金额</li>
          <li>年利率</li>
          <li>期限</li>
          <li>保障方式</li>
          <li class="li_jd">进度</li>
          <li>发布时间</li>
          <li>立即投标</li>
          
        </ul>
        
        <volist name="list2" id="vo" key="k">
        <!--tz_cont_head04-->  
            <ul class="tz_cont_head04">
                <li><a href="{:U('Borrow/detail?id='.$vo['id'])}">{$vo.borrow_name}</a></li>
                <li class="li02"><span>￥:</span>{$vo.borrow_money|money_upper=###}</li>
                <li>{$vo.borrow_interest_rate}%</li>
                <li>{$vo.borrow_duration}月</li>
                <li>本息保护</li>
                <li class="li_jd"><div id="jdbox_{$k}" class="jdbox">{$vo['has_borrow']/$vo['borrow_money']*100}</div></li>
                <li>{$vo.add_time|date='Y-m-d',###}</li>
                <li class="li_last">
                      <if condition="$vo.borrow_status eq 0"><a  href="{:U('Finance/invest?id='.$vo['id'])}"><img alt="" src="__PUBLIC__/Home/images/invest.png"></a>
                	    <elseif condition="$vo.borrow_status eq 2"/>
                	    <img alt="" src="__PUBLIC__/Home/images/checking.png">
                	     <elseif condition="$vo.borrow_status eq 4"/>
                	    <img alt="" src="__PUBLIC__/Home/images/checkref.png">
                	    <elseif condition="$vo.borrow_status eq 6"/>
                	    <img alt="" src="__PUBLIC__/Home/images/returning.png">
                	     <elseif condition="$vo.borrow_status eq 7"/>
                	     <img alt="" src="__PUBLIC__/Home/images/full.png">
                	    </if></li>
            </ul>
        </volist>
        
      
        
        <!--tz_cont_bottom-->
        <!-- <ul class="tz_cont_bottom">
          <li>首页</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>...</li>
          <li>尾页</li>
          <li><input type="text" value="1" class="txt"></li>
          <li><input type="button" class="btn" value="go"></li>
        </ul>  -->  
        <div class="page"> {$page}</div>
    </div>
  <!--content end-->
   <script type="text/javascript" src="script/jquery.shove-1.0.js"></script>
 <script type="text/javascript" src="script/jbox/jquery.jBox-2.3.min.js"></script>
 <script type="text/javascript" src="script/jbox/jquery.jBox-zh-CN.js"></script>


<script type="text/javascript">

window.onload = function(){
  var object1 = document.getElementById('jdbox_1')
  var object2 = document.getElementById('jdbox_2')
  var object3 = document.getElementById('jdbox_3')
  var object4 = document.getElementById('jdbox_4')
  var object5 = document.getElementById('jdbox_5')
  var object6 = document.getElementById('jdbox_6')
  var object7 = document.getElementById('jdbox_7')
  var object8 = document.getElementById('jdbox_8')
  function loadImg1 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object1.style.backgroundPosition = imgLeft+'\t'+'0px'
        object1.innerHTML = i+'%';
      },50)
  }
  loadImg1(parseInt(document.getElementById('jdbox_1').innerHTML))
  
    function loadImg2 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object2.style.backgroundPosition = imgLeft+'\t'+'0px'
        object2.innerHTML = i+'%';
      },50)
  }
  loadImg2(parseInt(document.getElementById('jdbox_2').innerHTML))
  function loadImg3 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object3.style.backgroundPosition = imgLeft+'\t'+'0px'
        object3.innerHTML = i+'%';
      },50)
  }
  loadImg3(parseInt(document.getElementById('jdbox_3').innerHTML))
  function loadImg4 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object4.style.backgroundPosition = imgLeft+'\t'+'0px'
        object4.innerHTML = i+'%';
      },50)
  }
  loadImg4(parseInt(document.getElementById('jdbox_4').innerHTML))
  function loadImg5 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object5.style.backgroundPosition = imgLeft+'\t'+'0px'
        object5.innerHTML = i+'%';
      },50)
  }
  loadImg5(parseInt(document.getElementById('jdbox_5').innerHTML))
  function loadImg6 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object6.style.backgroundPosition = imgLeft+'\t'+'0px'
        object6.innerHTML = i+'%';
      },50)
  }
  loadImg6(parseInt(document.getElementById('jdbox_6').innerHTML))
  function loadImg7 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object7.style.backgroundPosition = imgLeft+'\t'+'0px'
        object7.innerHTML = i+'%';
      },50)
  }
  loadImg7(parseInt(document.getElementById('jdbox_7').innerHTML))
  function loadImg8 (data){
      var i = 0;
      setInterval(function(){
        i++
        if(i>data){
          i=data
        }
        var imgLeft = -(i*44+(i*10))+'px'
        object8.style.backgroundPosition = imgLeft+'\t'+'0px'
        object8.innerHTML = i+'%';
      },50)
  }
  loadImg8(parseInt(document.getElementById('jdbox_8').innerHTML))
}
</script>
</block>
