<block name="body"> 
<extend name="Base/common" /> <!--content start-->
<block name="body">

<div class="qrb_cont_out">
	<div class="qrb_cont">
		<h2>确认投标</h2>
		<!--qrb_cont_top-->
		<div class="qrb_cont_top">
			<!--qrb_cont_top 左边-->
			<volist name="list3" id="vb">
			<dl>
				<dt>
					<img src="__PUBLIC__/Home/images/qrb_cont_top_pic.png" width="200"
						height="200" />
				</dt>
				<dd>
					<p>
						<strong>借款用户：</strong><span>{$vb.borrow_uid|get_username}</span>
					</p>
					<p>
						<strong>借款日期：</strong><span>{$vo.add_time|date='Y-m-d',###}</span>
					</p>
					<p>
						<strong>居 住 地 ：</strong><span>{$vb.location}&nbsp;{$vblocation_now}</span>
					</p>
				</dd>
			</dl>
			</volist>
			<!--qrb_cont_top 右边-->
			<volist name="list" id="vo">
			<ul>
				<li><strong>您的账户总额：</strong><span id="totalMoney">￥{$vo.account_money}</span></li>
				<li><strong>您的可用余额：</strong><span id="leaveMoney">￥{$vo.account_money}</span></li>
				<li><input type="button" class="btn" value="我要充值"
					onclick="javascript:;" id="recharge"></li>
			</ul>
			</volist>
		</div>
		<!--qrb_cont_bot-->
		<div class="qrb_cont_bot">
			<!--qrb_cont_bot 左边-->
			<volist name="list3" id="vb">
			<ul class="qrb_cont_bot_l">
				<li class="li01"><h3>
					借款标题：<b>{$vb.borrow_name}</b>
					</h3></li>
				<li>借款金额：<span>￥{$vb.borrow_money}</span></li>
				<li>借款年利率：<span>{$vb.borrow_interest_rate}%</span></li>
				<li>已经完成：<span>{$vb['has_borrow']/$vb['borrow_money']*100}%</span></li>
				<li>还要借款：<span id="needMoney">￥{$vb['borrow_money']-$vb['has_borrow']}</span></li>
				<li>借款期限：<span>{$vb.borrow_duration}月</span></li>
				<li class="li_last">还款方式： <if
						condition="$vb.repayment_type eq 1"> <span>按月分期</span> <elseif
						condition="$vb.repayment_type eq 2" /> <span>按月分期</span> <elseif
						condition="$vb.repayment_type eq 3" /> <span>按月分期</span> <elseif
						condition="$vb.repayment_type eq 4" /> <span>按月分期</span></if>
				</li>
				<li class="li_last">交易类型：<span>线上</span></li>
			</ul>
			</volist>
			<!--qrb_cont_bot 右边-->
			<volist name="list" id="vo">
			<div class="qrb_cont_bot_r">
				<h3>请填写并确认下面投标金额</h3>
				<ul>
					<s:if test="#request.subscribes!=1">
						<li><span id="investMinMoney">最低投标金额：{$vb.borrow_min}</span>元</li>
					</s:if>
					<s:else>
						<li><span id="investMaxMoney">最多投标金额：{$vb.borrow_max}元</span></li>
					</s:else>
					<li>年化利率：<span>{$vb.borrow_interest_rate}%</span></li>
					<!-- <li>最小认购金额：11元</li>
					<li>认购总分数：10份</li>
					<li>还有：<span>10</span>份
					</li> -->
				</ul>
				<volist name="list3" id="vb">
				<form id="form" action="{:U('add?id='.$vb['id'])}" method="post">
				</volist>
				<div class="tzje">
					<span>投资金额</span><input type="text" class="txt" style="color: red;"id="amount" name="capital" maxlength="20" value=""/><span>元</span><input type="button" value="最大金额" class="btn" id="maxMoney"onclick="javascript:;">
									</p>
								</div>
								<p>注意：点击按钮表示您将确认投标金额并同意支付贷款</p>
				<!-- <input type="button" value="确认投标" class="btn2" id="confirmInvest"/> -->
				<input type="submit" value="确认投标" class="btn2"/>

								</div>
							</div>
						</div>
						<div class="tbbot"></div>
					</div>
				</div>
				</from>
			</div>
			</volist>

		</div>
	</div>
</div>

<script>
   //确认投标
	$("#confirmInvest").click(
			function() {
				var amount = parseFloat($("#amount").val());
				var needMoney = parseFloat($("#needMoney").html().substring(1,
						$("#needMoney").html().length));
				if (amount <= 0) {
					$("#errorMsg").html("<font color='red'>投标金额小于零元！</font>");
					return false;
				}
				if (amount > needMoney) {
					$("#errorMsg").html(
							"<font color='red'>投标金额不能大于还需借款！</font>");
					return false;
				}
				$("#form").submit();
			});
</script> <script>
//我要充值
	$("#recharge").click(function() {
		window.location.href = "{:U('Member/System/recharge')}";
	});
</script> <script>
//最大金额计算
	$("#maxMoney").click(
			function() {
				var totalMoney = parseFloat($("#totalMoney").html().substring(
						1, $("#totalMoney").html().length));
				var leaveMoney = parseFloat($("#leaveMoney").html().substring(
						1, $("#leaveMoney").html().length));
				var needMoney = parseFloat($("#needMoney").html().substring(1,
						$("#needMoney").html().length));
				var investMaxMoney = parseFloat($("#investMaxMoney").html()
						.substring(1, $("#investMaxMoney").html().length));
				var investMinMoney = parseFloat($("#investMinMoney").html()
						.substring(1, $("#investMinMoney").html().length));
				if (leaveMoney <= needMoney) {
					$("#amount").val(leaveMoney);
				}
				if (leaveMoney >= needMoney) {
					$("#amount").val(needMoney);
				}
				if (investMaxMoney > leaveMoney) {
					if (investMaxMoney >= needMoney) {
						$("#amount").val(needMoney);
					}
				}
				if (investMaxMoney > leaveMoney) {
					if (investMaxMoney <= needMoney) {
						$("#amount").val(investMaxMoney);
					}
				}

			});
</script> <!--content end--> </block>
