<extend name="Base/common" />
<block name="header"> <header class="jumbotron subhead"
	id="overview">
	<div class="container">
		<h2>用户注册</h2>
		<p>
			<span><span class="pull-left"><span>已经有账号? <a
						href="{:U('User/login')}">点此登录</a>
				</span> </span>
		</p>
	</div>
</header> </block>

<block name="body"> <!--content start-->
<div class="dl_cont_out">
	<div class="dl_cont">
		<div class="top">
			<h2>用户注册</h2>
			<p>
				已有账户<a href="#">点击登录</a>
			</p>
		</div>
		<form id="form" action="__SELF__" method="post">
			<dl>
				<dt>
					<span>* </span>手机号码:
				</dt>
				<dd>
					<input type="text" value="请输入您的手机号码" name="phone" id="phone"
						class="txt" />
				</dd>
				<span id="checkphone"></span>
			</dl>
			<dl>
				<dt>
					<span>* </span>电子邮箱:
				</dt>
				<dd>
					<input type="text" value="请输入您的电子邮箱" id="email"
						ajaxurl="/member/checkUserEmailUnique.html" errormsg="请填写正确格式的邮箱"
						nullmsg="请填写邮箱" datatype="e" name="email" class="txt" />
				</dd>
				<span id="checkemail"></span>
			</dl>
			<dl>
				<dt>
					<span>* </span>用户名:
				</dt>
				<dd>
					<input type="text" value="请输入您的3-5位用户名" id="username"
						name="username" class="txt"
						ajaxurl="/member/checkUserNameUnique.html" errormsg="请填写1-16位用户名"
						nullmsg="请填写用户名" datatype="*1-16" />
				</dd>
				<span id="checkuser"></span>
			</dl>
			<dl>
				<dt>
					<span>* </span>密码:
				</dt>
				<dd>
					<input type="password" value="" id="password"
						placeholder="请输入您的6-16位密码" errormsg="密码为6-20位" nullmsg="请填写密码"
						datatype="*6-20" name="password" class="txt" />
				</dd>
				<span id="checkpwd"></span>
			</dl>
			<dl>
				<dt>
					<span>* </span>确认密码:
				</dt>
				<dd>
					<input type="password" value="" id="repassword"
						placeholder="再次输入您的密码" name="repassword" recheck="password"
						errormsg="您两次输入的密码不一致" nullmsg="请填确认密码" datatype="*" class="txt" />
				</dd>
				<span id="checkrepwd"></span>
			</dl>

			<dl>
				<dt>
					<span>* </span>验证码:
				</dt>
				<dd>
					<input type="text" value="请输验证码"  class="yz"
						errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify"
						id="verify" /> <img class="yzBtn" alt="点击切换" src="{:U('verify')}"
						style="cursor: pointer;">
					<!-- <input type="button" value="手机验证" name="" class="yzBtn"/>
                    <p class="yz_call">如果收不到验证码，请拨打<span>400-123-4567</span></p> -->
				</dd>
				<span id="checkcode"></span>
			</dl>
			<dl>
				<dt>
					<span></span>推荐人:
				</dt>
				<dd>
					<input type="text" value="推荐人手机号码或用户名" name="introduce" class="txt" />
				</dd>
				<span id="checkintroduce"></span>
			</dl>
			<div class="zcCheck">
				<input type="checkbox" value="" name="" class="check"
					checked="checked" />
				<p>
					我已阅读并同意<a href="#">《网站服务协议》</a>
				</p>
			</div>
			<input type="button" value="注册" name="zhuce" id="registerSub"
				class="zcBtn" onclick="javascript:;" />
		</form>
	</div>
</div>
<script>
	$("#registerSub").click(function() {
		var phone = $("#phone").val();
		var email = $("#email").val();
		var username = $("#username").val();
		var password = $("#password").val();
		var repassword = $("#repassword").val();
		var verify = $("#verify").val();
		
		//var isMobile=/^(?:13\d|15\d|18\d)\d{5}(\d{3}|\*{3})$/;  //手机号码验证正则表达式
		if (phone == "") {
			$("#checkphone").html("<font color='red'>手机号码不能为空！</font>");
			return false;
		}else{
			/* if(!isMobile.test(phone)){
				$("#checkphone").html("<font color='red'>请输入正确的手机号码！</font>");
				return false;
			} */
		}
		
	//	var re = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/;
		if (email == "") {
			if (phone != null) {
				$("#checkphone").hide();
			}
			$("#checkemail").html("<font color='red'>邮箱地址不能为空！</font>");
			return false;
		}else{
			/* if(！re.test(email)){
				$("#checkemail").html("<font color='red'>请输入正确的邮箱地址！</font>");
				return false;
			} */
		}
		if (username == "") {
			if (phone != null) {
				$("#checkphone").hide();
			}
			if (email != null) {
				$("#checkemail").hide();
			}
			$("#checkuser").html("<font color='red'>用户名不能为空！</font>");
			return false;
		}
		if (password == "") {
			if (phone != null) {
				$("#checkphone").hide();
			}
			if (email != null) {
				$("#checkemail").hide();
			}
			if (username != null) {
				$("#checkuser").hide();
			}
			$("#checkpwd").html("<font color='red'>注册密码不能为空！</font>");
			return false;
		}

		if (repassword == "") {
			if (phone != null) {
				$("#checkphone").hide();
			}
			if (email != null) {
				$("#checkemail").hide();
			}
			if (username != null) {
				$("#checkuser").hide();
			}
			if (password != null) {
				$("#checkpwd").hide();
			}
			$("#checkrepwd").html("<font color='red'>确认注册密码不能为空！</font>");
			return false;
		}else{
			if (phone != null) {
				$("#checkphone").hide();
			}
			if (email != null) {
				$("#checkemail").hide();
			}
			if (username != null) {
				$("#checkuser").hide();
			}
			if (password != null) {
				$("#checkpwd").hide();
			}
			if(password!=repassword){
				$("#checkrepwd").html("<font color='red'>两次输入的密码不一致！</font>");
				return false;
			}
		}
		
		if(verify==""){
			if (phone != null) {
				$("#checkphone").hide();
			}
			if (email != null) {
				$("#checkemail").hide();
			}
			if (username != null) {
				$("#checkuser").hide();
			}
			if (password != null) {
				$("#checkpwd").hide();
			}
			if(repassword!=null){
				$("#checkrepwd").hide();
			}
			$("#checkcode").html("<font color='red'>验证码不能为空！</font>");
			return false;
		}
		$("#form").submit();

	});
</script> <!--content end--> </block>

