<block name="body">
<extend name="Base/common"/>
<block name="body">
		  
	<!--content start-->
	<div class="zh_cont_out">
    	<div class="zh_cont">
            <h2><a href="{:U('Index')}">我的账户</a></h2>	
            	<include file="Public/left"/>
            <div class="zh_cont_r">
           	  	<h3>当前位置>个人中心</h3>
                <dl>
                    	<dt><div class="img">
                            <volist name="list3" id="vo">
                                <if condition="$vo.logo_url eq ''">
                                        <img src="__STATIC__/rzg_images/default-img.jpg" width="200" height="200">
                                <elseif condition="$vo.logo_url  neq ''"/>
                                        <img src="Uploads/User/{$vo.logo_url}" width="200" height="200" />
                                </if>
                             </volist><p>
                             <a id="test2">更换图像</a></p>
                             </div>
                        </dt>
                    <dd>
                    	<p>用户名称：<span style="color:#66ccfb;">{:get_username()}</span></p>
                    	<p>会员积分：<span>98分</span></p>
                    	<p>注册时间：<span>{$vo.reg_time|date='Y-m-d',###}</span></p>
                    	<p>所属客服：<span>客服-丫丫</span></p>
                    	<p>登录时间：<span>{$vo.last_login_time|date='Y-m-d H:i:s',###}</span></p>
                    	<p>站内信：<span>（<a href="#"><font color="#66ccfb;">5</font></a>）</span>条</p>
                    	<p>登录IP:<span>{:get_client_ip()}</span></p>
                    </dd>
                </dl>
                <ul class="ul01">
                	<li>认证管理：</li>
                    <li><if condition="$vs.email_status eq 0">
													<a href="{:U('Userinfo/usermailbanding')}"><img
															src="__STATIC__/rzg_images/img/h_yx_pic.jpg" title="邮箱未认证" />
													</a>
												<elseif condition="$vs.email_status eq 1"/>
												     <a href="{:U('Userinfo/usermailbanding')}"><img
															src="__STATIC__/rzg_images/img/l_yx_pic.jpg" title="邮箱已认证" />
													</a>
												</if></li>
                    <li><if condition="$vs.phone_status eq 0">
													<a href="{:U('Userinfo/userchangephone')}"><img
															src="__STATIC__/rzg_images/img/h_sj_pic.jpg" title="手机未认证" />
													</a>
												<elseif condition="$vs.phone_status eq 1"/>
												     <a href="{:U('Userinfo/userchangephone')}"><img
															src="__STATIC__/rzg_images/img/l_sj_pic.jpg" title="手机已认证" />
													</a>
												</if></li>
                    <li><if condition="$vs.id_status eq 0">
												<a href="{:U('Userinfo/userselfset')}">
													<img src="__STATIC__/rzg_images/img/h_sfz_pic.jpg" title="身份证未认证" />
												</a>
												<elseif condition="$vs.id_status eq 1"/>
												     <a href="{:U('Userinfo/userselfset')}">
													<img src="__STATIC__/rzg_images/img/l_sfz_pic.jpg" title="身份证已认证" />
												    </a>
												</if></li>
                    <li><if condition="$vs.credit_status eq 0">
												<a href="{:U('Userinfo/userbankset')}">
													<img src="__STATIC__/rzg_images/img/h_yhk_pic.jpg" title="银行卡未认证" />
												</a>
												<elseif condition="$vs.credit_status eq 1"/>
												     <a href="{:U('Userinfo/userbankset')}">
													<img src="__STATIC__/rzg_images/img/l_yhk_pic.jpg" title="银行卡已认证" />
												    </a>
												</if></li>
                    <li><if condition="$vs.video_status eq 0">
												<a href="{:U('Userinfo/userrenewalvip')}">
													<img src="__STATIC__/rzg_images/img/h_vip_pic.jpg" title="VIP未认证" />
												</a>
												<elseif condition="$vs.video_status eq 1"/>
												     <a href="{:U('Userinfo/userrenewalvip')}">
													<img src="__STATIC__/rzg_images/img/l_vip_pic.jpg" title="VIP已认证" />
												    </a>
												</if></li>
                </ul>
                
                <ul class="ul02">
                	<li class="ul02_li01">会员续费</li>
                	<li><a href="{:U('Home/Borrow/index')}">我要借款</a></li>
                	<li><a href="{:U('System/recharge')}">我要充值</a></li>
                	<li>我要还款</li>
                	<li><a href="{:U('System/withdrawdeposit')}">我要提现</a></li>
                	<li>待收金额</li>
                </ul>
                <h4>账户详情：</h4>
                <div class="zh_cont_r_bot">
                	<p>账户总汇</p><volist name="list" id="vo">
                    <ul>
                    	<li>账户总额：￥<if condition="$vo.account_money neq ''">
										{$vo.account_money}
										<elseif condition="$vo.account_money eq 1"/>
										0
										</if></li>
                    	<li>可用余额：￥<if condition="$vo.account_money neq ''">
										{$vo.account_money}
										<elseif condition="$vo.account_money eq 1"/>
										0
										</if></li>
                    	<!-- <li><p>冻结金额：￥</p><span>0.00</span></li>
                    	<li><p>总收益：￥</p><span>0.00</span></li>
                    	<li><p>利息收益：￥</p><span>0.00</span></li>
                    	<li><p>其它收益：￥</p><span>0.00</span></li> -->
                    </ul></volist>
                </div>
                
                <div class="zh_cont_r_bot">
                	<p>投资总汇</p><volist name="list2" id="list2">
                    <ul>
                    	<li><p>待收总额：￥<if condition="$vo.account_money neq ''">
										{$list2['investor_capital']}
										<elseif condition="$vo.account_money eq 1"/>
										0
										</if></li>
                    	<li><p>待收本金：￥<if condition="$vo.account_money neq ''">
										{$list2['investor_capital']}
										<elseif condition="$vo.account_money eq 1"/>
										0
										</if></li>
                    	<!-- <li><p>冻结金额：￥</p><span>0.00</span></li>
                    	<li><p>总收益：￥</p><span>0.00</span></li>
                    	<li><p>利息收益：￥</p><span>0.00</span></li>
                    	<li><p>其它收益：￥</p><span>0.00</span></li> -->
                    </ul></volist>
                </div>
                
                <div class="zh_cont_r_bot">
                	<p>借款总汇</p><volist name="borrow_money" id="bm">
                    <ul>
                    	<li>待还总额：￥<if condition="$vo.account_money neq ''">
										{$bm.borrow_money}
										<elseif condition="$vo.account_money eq 1"/>
										0
										</if></li>
                    	<li>待还本金：￥<if condition="$vo.account_money neq ''">
										{$bm.borrow_money}
										<elseif condition="$vo.account_money eq 1"/>
										0
										</if></li>
                    	<!-- <li><p>冻结金额：</p><span>￥0.00</span></li>
                    	<li><p>总收益：</p><span>￥0.00</span></li>
                    	<li><p>利息收益：</p><span>￥0.00</span></li>
                    	<li><p>其它收益：</p><span>￥0.00</span></li> -->
                    </ul></volist>
                </div>
                
                <div class="zh_cont_r_bot last">
                	 <!--<p>借款总汇</p>
                    <ul>
                    	<li><p>最近还款日：</p><span>无</span></li>
                    	<li><p>最近还款金额：￥</p><span>0.00</span></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
	<!--content end-->
    
								
		
		 <!-- 引用底部公共部分  -->
		<script type="text/javascript" src="script/jquery.shove-1.0.js"></script>
		<script type="text/javascript"src="script/jbox/jquery.jBox-2.3.min.js"></script>
		<script type="text/javascript" src="script/jbox/jquery.jBox-zh-CN.js"></script>

 <!--<script type="text/javascript">
 function validate(){
   document.getElementByIdx_x('myform').submit();
 }
 window.load=validate();
 </script>-->
<script>
$('#test1').on('click', function(){
    layer.prompt({title: '随便上传个东东，并确认',type: 2}, function(file){   
    	$.ajax({
type: "post",
url: "{:U('Member/index/test')}",
data: "all_school=" + all_school,
beforeSend: function() {
	alert(file);
},
error: function(request) {
},
success: function(data) {
}
});
    	  
});
});
</script>
<script>
	$('#test2').on('click', function(){
		// layer.msg('正在施工，无法更换')
    $.layer({
        type: 1,
        title: [
            '图片上传', 
            'background:#2B2E37; height:40px; color:#fff; border:none;' //自定义标题样式
        ],  //不显示默认标题栏
        offset : ['250px', ''],
        shade: [1], //不显示遮罩
        area: ['260px', '100px'],
        page: {html: '<form action="__URL__/upload" enctype="multipart/form-data" method="post"><input type="file"  name="filename" value=""><input  type="submit"  value="上传"></from>'},
    });
 });

</script>
</block>