<block name="body">
<extend name="Base/common"/>
<block name="body">
		<!--content start-->
	<div class="zh_cont_out">
    	<div class="zh_cont">
            <h2><a href="{:U('Index')}">我的账户</a></h2>	
            	<include file="Public/left"/>
            <div class="zh_cont_r">
            	<div class="r_main">
					<div class="box">
						<div class="tabtil">
							<ul>
								<li class="on">
									理财统计
								</li>
							</ul>
							</h2>
						</div>
						<div class="boxmain2">
							<div class="biaoge" style="margin-top: 0px;">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<th colspan="3">
											回报统计
										</th>
									</tr>
									<tr>
										<td align="center">
											已赚利息
										</td>
										<td align="center">
											奖励收入总额
										</td>
										<td align="center">
											已赚逾期罚息
										</td>
									</tr>
									<tr>
										<td align="center">
											￥
											<s:if test="#request.financeStatisMap.earnInterest !=''"></s:if>
											<s:else>0</s:else>
										</td>
										<td align="center">
											￥
											<s:if test="#request.financeStatisMap.rewardIncome !=''"></s:if>
											<s:else>0</s:else>
										</td>
										<td align="center">
											￥
											<s:if test="#request.financeStatisMap.hasFI !=''"></s:if>
											<s:else>0</s:else>
										</td>
									</tr>
								</table>

							</div>
							<div class="biaoge">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<th colspan="6">
											个人理财统计
										</th>
									</tr>
									<tr>
										<td align="center">
											总借出金额
										</td>
										<td align="center">
											总借出笔数
										</td>
										<td align="center">
											已回收本息
										</td>
										<td align="center">
											已回收笔数
										</td>
										<td align="center">
											待回收本息
										</td>
										<td align="center">
											待回收笔数
										</td>
									</tr>
									<tr>
										<td align="center">
											￥
											<s:if test="#request.financeStatisMap.investAmount !=''"></s:if>
											<s:else>0</s:else>
										</td>
										<td align="center">
											<s:if test="#request.financeStatisMap.investCount !=''"></s:if>
											<s:else>0</s:else>
										</td>
										<td align="center">
											￥
											<s:if test="#request.financeStatisMap.hasPI !=''"></s:if>
											<s:else>0</s:else>
										</td>
										<td align="center">
											<s:if test="#request.financeStatisMap.hasCount !=''"></s:if>
											<s:else>0</s:else>
										</td>
										<td align="center">
											￥
											<s:if test="#request.financeStatisMap.forPI !=''"></s:if>
											<s:else>0</s:else>
										</td>
										<td align="center">
											<s:if test="#request.financeStatisMap.forCount !=''"></s:if>
											<s:else>0</s:else>
										</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
            </div>
            </div>
        </div>
    </div>
	<!--content end-->
		<!-- 引用底部公共部分 -->
		<jsp:include page="/include/footer.jsp"></jsp:include>
		<script type="text/javascript" src="/script/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="script/jquery.shove-1.0.js"></script>
		<script type="text/javascript" src="script/nav-zh.js"></script>
		<script language="javascript" type="text/javascript"
			src="My97DatePicker/WdatePicker.js"></script>
		<script>
	$(function() {
		//样式选中
		$("#zh_hover").attr('class', 'nav_first');
		$('#li_2').addClass('on');
		$('.tabmain').find('li').click(function() {
			$('.tabmain').find('li').removeClass('on');
			window.location.href = 'queryFundrecordInit.htm';
		});
	});

	function jumpUrl(obj) {
		window.location.href = obj;
	}
</script>
		<script>
	function fundRecordList() {
		if ($("#startTime").val() == "" || $("#endTime").val() == "") {
			alert("请选择查询日期");
			return;
		} else if ($("#startTime").val() > $("#endTime").val()) {
			alert("结束日期要大于开始日期");
			return;
		}
		param["pageBean.pageNum"] = 1;
		param["paramMap.startTime"] = $("#startTime").val();
		param["paramMap.endTime"] = $("#endTime").val();
		$.shovePost("queryFundrecordList.htm", param, function(data) {
			$("#fundRecord").html(data);
		});
	}

	function addRechargeInfo() {
		if ($("#money").val() == "") {
			$("#money_tip").html("请输入充值金额");
			return;
		} else if (!/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/
				.test($("#money").val())) {
			$("#money_tip").html("请输入正确的提现金额，必须为大于0的数字");
			return;
		} else if ($("#money").val() < 0.01) {
			$("#money_tip").html("最小金额不能低于0.01");
			return;
		} else {
			$("#money_tip").html("");
		}

		if (!window.confirm("确定进行帐户充值")) {
			return;
		}
		var money = $("#money").val();
		window.open("alipayPayment.htm?divType=li_2&money=" + money);

		/*param["paramMap.money"] = $("#money").val();
		$.shovePost("addRechargeInfo.htm",param,function(data){
		   if(data == 0){
		      alert("充值失败");
		      return ;
		   }
		   alert("充值成功");
		   $("#money").attr("value","");
		   $("#rechargeInfo").html(data);
		});*/
	}
</script>
</block>

