<block name="body">
<extend name="Base/common"/>
<block name="body">
		<!--content start-->
	<div class="zh_cont_out">
    	<div class="zh_cont">
            <h2><a href="{:U('Index')}">我的账户</a></h2>	
            	<include file="Public/left"/>
            <div class="zh_cont_r">
            	<div class="r_main">
					<div class="tabtil">
						<ul>
							<a href="friendManagerInit.htm">
								<li class="on">
									邀请好友
								</li> 
							</a>
							<a href="friendManagerInits.htm">
							<li>
								好友列表
							</li>
							</a>
						</ul>
					</div>
					<div class="box">
						<div class="boxmain2 yqhy">
							<!-- <div class="rrdslcj">
								<img src="./images/yqhy.jpg" alt="邀请好友，挣金币，兑大礼" />
							</div> -->
							<div class="bdsharebuttonbox">
								<a href="#" class="bds_more" data-cmd="more"></a>
								<a href="#" class="bds_qzone" data-cmd="qzone"></a>
								<a href="#" class="bds_tsina" data-cmd="tsina"></a>
								<a href="#" class="bds_tqq" data-cmd="tqq"></a>
								<a href="#" class="bds_renren" data-cmd="renren"></a>
								<a href="#" class="bds_weixin" data-cmd="weixin"></a>
							</div>
							<script>
	window._bd_share_config = {
		"common" : {
			"bdSnsKey" : {},
			"bdText" : "中国工合实业集团旗下 网贷平台【ubanks】，P2P理财首选平台。综合年化收益18%以上，100%本息安全保障，50元超低门槛，是草根、家庭的理财专属通道！你也赶快来投资，别被银行榨取我们的存款利息！您的好友邀请链接:${url}reg.htm?param=${userId}",
			"bdMini" : "2",
			"bdPic" : "",
			"bdStyle" : "0",
			"bdSize" : "16"
		},
		"share" : {},
		"image" : {
			"viewList" : [ "qzone", "tsina", "tqq", "renren", "weixin" ],
			"viewText" : "分享到：",
			"viewSize" : "16"
		},
		"selectShare" : {
			"bdContainerClass" : null,
			"bdSelectMiniList" : [ "qzone", "tsina", "tqq", "renren", "weixin" ]
		}
	};
	with (document)
		0[(getElementsByTagName('head')[0] || body)
				.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
							<div class="yqhy_text1">
								<h4>
									复制链接发给QQ/MSN上的好友
								</h4>
								<span id="testcopy">http://www.ghcf.com</span>&nbsp;&nbsp;&nbsp;<a href="#" id="copy"><font color="green">复制</font></a>
								
								<!-- <textarea class="txta_1" name="contents" id="contents">中国工合实业集团旗下 网贷平台【ghcf】，P2P理财首选平台。综合年化收益18%以上，100%本息安全保障，50元超低门槛，是草根、家庭的理财专属通道！你也赶快来投资，别被银行榨取我们的存款利息！进入平台先注册:${url}reg.htm?param=${userId}</textarea>
								<div class="fzfx_an">
									<a href="javascript:void(0);" onclick=
	jsCopy();
><img
											src="./images/img/fzfx_an.jpg" width="103" height="29" /> </a>
								</div>  -->
							</div>

							<!-- <div class="yqhy_text1">
								<h4>
									还可以通过邮件推荐
								</h4>
								<ul class="yjtj">
									<li>
										<label class="lab1 ">
											好友EMAIL：
										</label>
										<input type="text" maxlength="100" value=""
											class="inp1 no_ol pl5 fc999 b_ddd" id="emails">
									</li>
									<li>
										<label class="lab1">
											您的姓名：
										</label>
										<input type="text" maxlength="20"
											class="inp1 no_ol pl5 fc999 b_ddd" value="" id="name">
									</li>
									<li>
										<label class="lab1">
											标题：
										</label>
										<input type="text" class="inp1 no_ol pl5 fc999 b_ddd"
											value="教您稳赚赢大奖" id="title">
									</li>
									<li>
										<label class="lab1">
											内容：
										</label>
										<textarea class="txta_2 no_ol b_ddd fc999" id="content"
											name="content" rows="20">融资谷资本集团旗下网贷平台【ubanks】，P2P理财首选平台。综合年化收益18%以上，100%本息安全保障，50元超低门槛，是草根、家庭的理财专属通道！你也赶快来投资，别被银行榨取我们的存款利息！进入平台先注册:${url}reg.htm?param=${userId}</textarea>
									</li>
								</ul>
								<div class="fzfx_an">
									<span style="color: red; float: none;" id="s_tip"
										class="formtips"></span>
									<a href="javascript:void(0);" onclick=
	sendMail();
> <img
											src="./images/img/fs_an.jpg" width="103" height="29" /> </a>
								</div>
							</div> -->
						</div>
					</div>

				</div>
            	
            </div>
            </div>
        </div>
    </div>
	<!--content end-->		
</block>



