<block name="body">
<extend name="Base/common"/>
<block name="body">
    <!--content start-->
  <div class="zh_cont_out">
      <div class="zh_cont">
            <h2><a href="{:U('Index')}">我的账户</a></h2> 
              <include file="Public/borrowleft"/>
            <div class="zh_cont_r">
              <form action="{:U('circulation_save')}" method="post">
                  <div class="r-main">
    <!-- <div class="til01"> -->
    <div class="til01">
    <ul id="ul"><li class="on">发布贷款</li><span class="fred" style="color: red;font-size: 12px; padding-left: 80px;line-height: 50px;"><s:fielderror fieldName="enough"></s:fielderror></span></ul>
    </div>
    <!-- <ul id="ul"><li><span class="fred"><s:fielderror fieldName="enough"></s:fielderror></span></li></ul>
    </div> -->
  <div class="rmainbox">
    <p class="tips"><span class="fred">*</span> 为必填项，所有资料均会严格保密。 </p>
    <div class="tab">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2" align="left">借款基本信息</th>
    </tr>
  <tr>
    <td align="right">借款标题：<span class="fred">*</span></td>
    <td><input name="borrow_name" type="text" class="inp280" maxlength="30" id="s_borrow_name" value=""/>
    <span class="fred" id="t_borrow_name"><s:fielderror fieldName="paramMap['title']"></s:fielderror></span>
    </td>
  </tr>
  <tr>
    <td align="right">借款总金额：<span class="fred">*</span></td>
    <td><input name="borrow_money" type="text" class="inp280" maxlength="12" id="s_borrow_money" value=""/>
    <span class="fred" id="t_borrow_money"><s:fielderror fieldName="paramMap['title']"></s:fielderror></span>
    </td>
  </tr>
  <!-- <tr>
    <td align="right">&nbsp;</td>
    <td>
    <form action="{:U('upload')}" enctype="multipart/form-data" method="post" >
    <div id="tab_1"><a href="javascript:void(0);" id="btn_personalHead" class="scbtn">上传图片</a></div>
    <div id="tab_2"><input type='file'  name='photo'></div>
    <div id="tab_3"><input type="submit" value="提交" class="btn trianglify-btn" ><div class="container">
</div></div>
     -->
       <tr>
    <td align="right">年利率：<span class="fred">*</span></td>
    <td><input name="borrow_interest_rate" type="text" class="inp100" maxlength="30" id="s_borrow_interest_rate" value=""/>%
    <span class="fred" id="t_borrow_interest_rate"></span>
    </td>
  </tr>
  <tr>
    <td align="right">借款用途：<span class="fred">*</span></td>
    <td><input name="borrow_use" type="text" class="inp280" maxlength="12" id="s_borrow_use" value=""/>
    <span class="fred" id="t_borrow_use"></span>
    </td>
  </tr>
  <tr>
    <td align="right">借款期限：<span class="fred">*</span></td>
    <td><input name="collect_day" type="text" class="inp280" maxlength="12" id="s_collect_day" value=""/>月
    <span class="fred" id="t_collect_day"></span>
    </td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td class="tishi">（推荐使用
    您的生活近照，或其他与借款用途相关的图片，<br />
      有助增加借款成功几率。严禁使用他人照片） </td>
  </tr>
  <tr>
    <td align="right">最低投标金额：<span class="fred">*</span></td>
    <td><input name="borrow_min" type="text" class="inp280" maxlength="12" id="s_borrow_min" value=""/>元
    <span class="fred"><s:fielderror fieldName="paramMap['title']"></s:fielderror></span>
    </td>
  </tr>
    <tr>
    <td align="right">最多投标金额：<span class="fred">*</span></td>
    <td><input name="borrow_max" type="text" class="inp280" maxlength="12" id="s_borrow_max" value=""/>元
    <span class="fred"><s:fielderror fieldName="paramMap['title']"></s:fielderror></span>
    </td>
  </tr>
  <tr>
    <td align="right">有效时间：<span class="fred">*</span></td>
    <td>
    <select name="collect_time"  class="inp50">   
              <option value="1">1</option>   
              <option value="2">2</option>   
              <option value="3">3</option>   
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>    
            </select>   天
    <!-- <input type="text" id="date_8" readonly style="height:16px" name="collect_time"  class="inp100"/> -->
    <span class="fred"></span>
    </td>
  </tr>
  <tr>
    <td align="right">还款方式：<span class="fred">*</span></td>
    <td>
          <select name="repayment_type"  class="inp50">   
              <option value="1">按天到期还款</option>   
              <option value="2">按月分期还款</option>   
              <option value="3">按季分期还款</option>   
              <option value="4">每月还息到期还本</option>    
            </select>   
    <span class="fred"><s:fielderror fieldName="paramMap['title']"></s:fielderror></span>
    </td>
  </tr>
  <tr>
    <td align="right">投标奖励：<span class="fred">*</span></td>
    <td><input name="reward_vouch_rate" type="text" class="inp100" maxlength="12" value=""/>元
    <span class="fred"><s:fielderror fieldName="paramMap['title']"></s:fielderror></span>
    </td>
  </tr>
  <tr>
    <td align="right">借款说明：<span class="fred">*</span></td>
    <td>
    <textarea name="borrow_info" class="txt420"></textarea>
    <span class="fred"><s:fielderror fieldName="paramMap['title']"></s:fielderror></span>
    </td>
  </tr>
  
  <!--    <tr>
    <td align="right">筹标期限：<span class="fred">*</span></td>
    <td>
        <s:select list="borrowRaiseTermList" id="raiseTerm" name="paramMap.raiseTerm" cssClass="sel_140" listKey="key" listValue="value"  headerKey="" headerValue="--请选择--"></s:select>
        <span class="fred"><s:fielderror fieldName="paramMap['raiseTerm']"></s:fielderror></span>
    </td>
  </tr> -->
    <tr>
    <td align="right">&nbsp;</td>

    <td style="padding-top:20px;"><input  type="submit" class="bcbtn" value="保存发布"></td>

  </tr>
    </table>
    </div>
    </div>
    </div>
              </form>
            </div>
            </div>
        </div>
    </div>
  <!--content end-->    


 <script type="text/javascript" src="__STATIC__/datepicker/js/jquery.min.js"></script> 
 <script type="text/javascript" src="__STATIC__/datepicker/js/jquery-ui-datepicker.js"></script>  


 <script type="text/javascript" src="script/nav-jk.js"></script>

<script type="text/javascript">
$(function(){
 
  $("#date_8").datepicker({
    showOn: "button",
    buttonImage: "__STATIC__/datepicker/images/calendar.gif",
    buttonImageOnly: true
  });
});
</script>
<script type="text/javascript">
//不能为空
  $("#s_borrow_name").blur(function() {
    if ($("#s_borrow_name").val() == "") {
      $("#t_borrow_name").html("*不能为空");
    } else {
      checkRegister();
    }
  });
  $("#s_borrow_money").blur(function() {
    if ($("#s_borrow_money").val() == "") {
      $("#t_borrow_money").html("*不能为空");
    } else {
      checkRegister();
    }
  });
  $("#s_borrow_interest_rate").blur(function() {
    if ($("#s_borrow_interest_rate").val() == "") {
      $("#t_borrow_interest_rate").html("*不能为空");
    } else {
      checkRegister();
    }
  });
  $("#s_collect_day").blur(function() {
    if ($("#s_collect_day").val() == "") {
      $("#t_collect_day").html("*不能为空");
    } else {
      checkRegister();
    }
  });
</script>
</block>