<block name="body">
<extend name="Base/common"/>
<block name="body">
<!--content start-->
	<div class="bdxq_cont_out">
    	<div class="bdxq_cont">
        	<h2>标的详情</h2>
            <dl>
                <dt>
                    <div class="header"></div>
                    <ul>
                        <li>用户名称：<span>小红</span></li>
                        <li>注册时间：<span>2014-11-22</span></li>
                        <li>最后登录：<span>2014-11-28</span></li>
                        <li>居住地：<span>深圳市</span></li>
                    </ul>
                    <a href="#">关注此人</a><a href="#">关注此借款</a>
                </dt>
                <dd>
                    <ul><volist name="list3" id="vb">
                        <li><h3>{$vb.borrow_name}</h3></li>
                        <li><h3>（机构担保借款）</h3><input type="button" class="btn"></li>
                        <li>借款金额：<span style="color:#ef681f;">￥{$vb.borrow_money}元</span></li>
                        <li>借款目的：<span>短期周转</span></li>
                        <li>借款年利率：<span>{$vb.borrow_interest_rate}%</span>（月利率：<span>1.50%</span>）</li>
                        <li>借款期限：<span>{$vb.borrow_duration}月</span></li>
                        <li>还差：<span>￥900,000.00</span></li>
                        <li><strong>投标进度：</strong><span class="out"><span class="in"></span></span><span class="data">60%</span></li>
                        <li style="color:#ef681f;">还款方式：<span>一次性还款</span></li>
                        <li>交易类型：<span>线下交易</span></li>
                        <li>最小投标金额：<span>￥50.00</span></li>
                        <li>最大投标金额：<span>不限</span></li>
                        <li>总投标数：<span style="margin-right:20px;">0</span>   浏览量：<span>0</span></li>
                        </volist>                             
                    </ul>
                    <p>投标<span>10000.0</span>元，年利率：<span>15.0%</span>，期限<span>1个月</span>，可获得利息收益：<span>￥150.00元</span></p>
                    <p><input type="button" class="share" style="background:url(../../../../../Public/Home/images/share.png) no-repeat 0 0"><input type="button" class="share" style="background:url(../../../../../Public/Home/images/share.png) no-repeat -22px 0"><input type="button" class="share" style="background:url(../../../../../Public/Home/images/share.png) no-repeat -44px 0"><a href="#" class="more">更多</a></p>
                </dd>
            </dl>
        	
            <!--项目详情-->
           <div class="xmxq_out">
               <div class="xmxq">
                    <h3>项目详情</h3>
                    <p>借款人用户名：<span>小红</span></p>
                    <p>借款标类型：<span>其他个人经营性贷款</span></p>
                    <p>借款人资质：<span>女，45岁，福建厦门人，已婚</span></p>
                    <p>历史沿革：<span>公司成立于2008年10月，注册资本1000万元</span></p>
                    <p>主营业务：<span>工程和技术研究和试验发展；耐火陶瓷制品及其他耐火材料制造；其他通用设备制造业</span></p>
                    <p>经营概况：<span>优质企业</span></p>
                    <p>年营业收入：<span>3000万元</span></p>
                    <p>借款用途：<span>购买原材料</span></p>
                    <p>还款来源：<span>营业收入</span></p>
                </div>
                <div class="jyjl">
                    <h4>工合交易信用记录</h4>
                    <p>发布借款笔数：<span>3</span>笔</p>
                    <p>累计逾期次数：<span>0</span></p>
                    <p>成功借入笔数：<span>0</span>笔</p>
                    <p>当前是否有逾期：<span>无</span></p>
                    <p>累计借入总额：<span>￥0.00</span></p>
                    <p>当前逾期待还金额：<span>0.00</span></p>
                </div>
            </div>
        	
            <!--审核-->
            
            <ul class="title">
                <li class="current">审核记录</li>
                <li>还款计划</li>
                <li>信息披露</li>
            </ul>
            <div class="sh">
                <div class="tab">
                    <ul class="tit">
                        <li>审核项目</li>
                        <li>状态</li>
                        <li>通过时间</li>
                    </ul>
                
                    <ul class="con">
                        <li>身份认证</li>
                        <li style="background:url(../../../../../Public/Home/images/pass_Bg.png) no-repeat center center">pass</li>
                        <li>2014-11-22</li>
                    </ul>
                    <ul class="con">
                        <li>工作认证</li>
                        <li style="background:url(../../../../../Public/Home/images/pass_Bg.png) no-repeat center center">pass</li>
                        <li>2014-11-22</li>
                    </ul>
                    <ul class="con">
                        <li>居住地认证</li>
                        <li style="background:url(../../../../../Public/Home/images/pass_Bg.png) no-repeat center center">pass</li>
                        <li>2014-11-22</li>
                    </ul>
                    <ul class="con">
                        <li>信用报告</li>
                        <li style="background:url(../../../../../Public/Home/images/pass_Bg.png) no-repeat center center">pass</li>
                        <li>2014-11-22</li>
                    </ul>
                    <ul class="con">
                        <li>房产</li>
                        <li style="background:url(../../../../../Public/Home/images/pass_Bg.png) no-repeat center center">pass</li>
                        <li>2014-11-22</li>
                    </ul>
                    <ul class="con">
                        <li>购车</li>
                        <li style="background:url(../../../../../Public/Home/images/pass_Bg.png) no-repeat center center">pass</li>
                        <li>2014-11-22</li>
                    </ul>
                    <ul class="con">
                        <li>其它资料</li>
                        <li style="background:url(../../../../../Public/Home/images/pass_Bg.png) no-repeat center center">pass</li>
                        <li>2014-11-22</li>
                    </ul>
                </div>
                <div class="tab" style="display:none">
                <p>此为计划表，还款日期以实际日期为准</p>
                <ul class="tit2">
                    <li>期次</li>
                    <li>还款日期</li>
                    <li>还款金额</li>
                    <li>应还本金</li>
                    <li>应还利息</li>
                </ul>
                <ul class="con2">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            </div>
            
                
            
            
            
            <!--标的详情-->
            <div class="bdxq">
            	<h4>标的详情</h4>
                <p>借款人是四川南充人，来深十多年，已婚并育有两个孩子，名下还有多套物业，资金实力强。<br/>客户做实体经营起家，经营电子显示屏多年，上下游客户出名，还款能力强。其抵押物现值90万元。</p>
            </div>
            
            <!--留言板-->
            <div class="message">
            	<h4>留言板</h4>
                <p>字数1~120之间</p>
                <textarea class="txta"></textarea>
                <div class="submit">
                	<a class="sub" href="#">提交</a>
                    <p>4489</p>
                    <input type="text" class="txt">
                    <p>验证码</p>
                </div>
            </div>
            
            <!--投资记录-->
            <div class="tzjl">
                <h4>投资记录</h4>
                <ul class="tit">
                	<li>投资人</li>
                    <li>投资利率</li>
                    <li>投资金额</li>
                    <li>投资时间</li>
                    <li>投资方式</li>
                    <li>状态</li>
                </ul>
                
                <ul class="con">
                	<li>***59</li>
                    <li>16%/年</li>
                    <li>5,000.00</li>
                    <li>2014-12-11 10:44:11</li>
                    <li>手动投标</li>
                    <li>已中标</li>
                </ul>
                <ul class="con">
                	<li>***59</li>
                    <li>16%/年</li>
                    <li>5,000.00</li>
                    <li>2014-12-11 10:44:11</li>
                    <li>手动投标</li>
                    <li>已中标</li>
                </ul>
                <ul class="con">
                	<li>***59</li>
                    <li>16%/年</li>
                    <li>5,000.00</li>
                    <li>2014-12-11 10:44:11</li>
                    <li>手动投标</li>
                    <li>已中标</li>
                </ul>
                <ul class="con">
                	<li>***59</li>
                    <li>16%/年</li>
                    <li>5,000.00</li>
                    <li>2014-12-11 10:44:11</li>
                    <li>手动投标</li>
                    <li>已中标</li>
                </ul>
                
                <ul class="tzjl_fy">
                	<li><</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>></li>
                </ul>
            </div>
        </div>
    </div>
	<!--content end-->

		<!-- 引用底部公共部分 -->
		<jsp:include page="/include/footer.jsp"></jsp:include>

		<script type="text/javascript" src="script/jquery.shove-1.0.js">
	
</script>
		<script type="text/javascript" src="css/popom.js">
	
</script>
		<script type="text/javascript"
			src="script/jbox/jquery.jBox-2.3.min.js">
	
</script>
		<script type="text/javascript" src="script/jbox/jquery.jBox-zh-CN.js">
	
</script>
		<script>
	var param = {};
	function initListInfo(param) {
		param['paramMap.id'] = '${borrowDetailMap.id}';
		$.shovePost('borrowmessage.htm', param, function(data) {
			$('#msg').html(data);
		});
	}
	initListInfo(param);
	$('#sendmail').click(function() {
		var id = '${borrowUserMap.userId}';
		var username = '${borrowUserMap.username}';
		var url = "mailInit.htm?id=" + id + "&username=" + username;
		var uname = '${user.userName}';
		if (username == uname) {
			alert("您不能给自己发送站内信");
			return false;
		}
		$.shovePost('mailInit.htm', param, function(data) {
			$.jBox("iframe:" + url, {
				title : "发送站内信",
				width : 500,
				height : 400,
				buttons : {}
			});
		});
	});
	$('#reportuser').click(function() {
		var id = '${borrowUserMap.userId}';
		var username = '${borrowUserMap.username}';
		var url = "reportInit.htm?id=" + id + "&username=" + username;
		var uname = '${user.userName}';
		if (username == uname) {
			alert("您不能举报自己");
			return false;
		}
		$.shovePost('reportInit.htm', param, function(data) {
			$.jBox("iframe:" + url, {
				title : "举报此人",
				width : 500,
				height : 400,
				buttons : {}
			});
		});
	});
	$('#audit').click(function() {
		var id = $('#idStr').val();
		$(this).addClass('on');
		$('#repay').removeClass('on');
		$('#collection').removeClass('on');
		$('#info').removeClass('on');
		param['paramMap.id'] = id;
		$.shovePost('financeAudit.htm', param, function(data) {
			$('#contentList').html(data);
		});
	});
	$('#repay').click(function() {
		var id = $('#idStr').val();
		$(this).addClass('on');
		$('#audit').removeClass('on');
		$('#collection').removeClass('on');
		$('#info').removeClass('on');
		param['paramMap.id'] = id;
		$.shovePost('financeRepay.htm', param, function(data) {
			$('#contentList').html(data);
		});

	});

	$('#info').click(function() {
		var id = $('#idStr').val();
		$(this).addClass('on');
		$('#audit').removeClass('on');
		$('#repay').removeClass('on');
		$('#collection').removeClass('on');
		param['paramMap.id'] = id;
			$.shovePost('showImg.htm', param, function(data) {
				$('#contentList').html(data);
			});

		});
	$('#collection').click(function() {
		var id = $('#idStr').val();
		$(this).addClass('on');
		$('#audit').removeClass('on');
		$('#repay').removeClass('on');
		$('#info').removeClass('on');
		param['paramMap.id'] = id;
		$.shovePost('financeCollection.htm', param, function(data) {
			$('#contentList').html(data);
		});

	});
</script>

		<script>
	$('#focusonUser').click(function() {
		var username = '${borrowUserMap.username}';
		var uname = '${user.userName}';
		if (username == uname) {
			alert("您不能关注自己");
			return false;
		}
		param['paramMap.id'] = '${borrowUserMap.userId}';
		$.shovePost('focusonUser.htm', param, function(data) {
			var callBack = data.msg;
			alert(callBack);
		});
	});
</script>

		<script>
	$('#focusonBorrow').click(function() {
		var username = '${borrowUserMap.username}';
		var uname = '${user.userName}';
		if (username == uname) {
			//alert("您不能关注自己发布的借款");
			return false;
		}
		param['paramMap.id'] = '${borrowDetailMap.id}';
		$.shovePost('focusonBorrow.htm', param, function(data) {
			var callBack = data.msg;
			alert(callBack);
		});
	});
</script>

		<script type="text/javascript">
	function showImg(typeId, userId, ids) {
		var user = $("ckImg");
		if (user == null) {
			window.location.href = "login.htm";
			return;
		}
		var url = "showImg.htm?typeId=" + typeId + "&userId=" + userId;
		$.jBox("iframe:" + url, {
			title : "查看认证图片(点击图片放大)",
			width : 600,
			height : 428,
			buttons : {}
		});
	}

	function close() {
		ClosePop();
	}
</script>

		<script>
	//样式选中
	$("#licai_hover").attr('class', 'nav_first');
	//	var param = {};
	$('#invest').click(function() {
		var step = '${session.user.authStep}';
		var username = '${borrowUserMap.username}';
		var uname = '${user.userName}';
		var bid = $('#bid').val();
		if (username == uname) {
			alert("无效操作,不能投自己发布的标");
			return false;
		}
		param['id'] = '${borrowDetailMap.id}';
		if (step < 5) {
			window.location.href = 'financeInvestInit.htm?id=' + bid;
			return false;
		}
		$.shovePost('financeInvestInit.htm', param, function(data) {
			var callBack = data.msg;
			if (callBack != undefined) {
				alert(callBack);
			} else {
				window.location.href = 'financeInvestInit.htm?id=' + bid;
			}
		});
	});

	//$('#focusonBorrow').click(function() {
	//	var username = '${borrowUserMap.username}';
	//	var uname = '${user.userName}';
	//	if (username == uname) {
	//alert("您不能关注自己发布的借款");
	//	return false;
	//}
	//param['paramMap.id'] = '${borrowDetailMap.id}';
	//$.shovePost('focusonBorrow.htm', param, function(data) {
	//	var callBack = data.msg;
	//	alert(callBack);
	//});
	//});

	////$('#focusonUser').click(function() {
	//var username = '${borrowUserMap.username}';
	//var uname = '${user.userName}';
	//if (username == uname) {
	//	alert("您不能关注自己");
	//	return false;
	//}
	//param['paramMap.id'] = '${borrowUserMap.userId}';
	//$.shovePost('focusonUser.htm', param, function(data) {
	//	var callBack = data.msg;
	//	alert(callBack);
	//});
	//});
</script>

		<script type="text/javascript">
	var SysSecond;
	var InterValObj;
	$(document).ready(function() {
		SysSecond = parseInt($("#remainSeconds").html()); //这里获取倒计时的起始时间 
			InterValObj = window.setInterval(SetRemainTime, 1000); //间隔函数，1秒执行 
		});

	//将时间减去1秒，计算天、时、分、秒 
	function SetRemainTime() {
		if (SysSecond > 0) {
			SysSecond = SysSecond - 1;
			var second = Math.floor(SysSecond % 60); // 计算秒     
			var minite = Math.floor((SysSecond / 60) % 60); //计算分 
			var hour = Math.floor((SysSecond / 3600) % 24); //计算小时 
			var day = Math.floor((SysSecond / 3600) / 24); //计算天 
			var times = day + "天" + hour + "小时" + minite + "分" + second + "秒";
			$("#remainTimeOne").html(times);
			$("#remainTimeTwo").html(times);
		} else {//剩余时间小于或等于0的时候，就停止间隔函数 
			window.clearInterval(InterValObj);
			//这里可以添加倒计时时间为0后需要执行的事件 
		}
	}
</script>
</block>
