<block name="body">
<extend name="Base/common"/>
	<!--content start-->
	<div class="jk_cont_out">
    	<div class="jk_cont">
        	<h2><span>我要借款</span></h2>
        	<div class="jk_cont_in">
            	<!--模块1-->
            	<div class="jk_cont_in_cont">
                	<div class="jk_cont_in_cont_in">
                        <h3 class="h3_01">信用标</h3>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>有固定工作</li>
                        </ul>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>有固定工作</li>
                        </ul>
                        <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                    </div>
                </div>
                
            	<!--模块2-->
                <div class="jk_cont_in_cont">
                	<div class="jk_cont_in_cont_in">                	
                        <h3 class="h3_02">净值标</h3>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>有固定工作</li>
                        </ul>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>有固定工作</li>
                        </ul>
                        <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                    </div>
                </div>
                
            	<!--模块3-->
                <div class="jk_cont_in_cont">
                	<h3 class="h3_03">秒还标</h3>
                    <h4>申请条件</h4>
                    <ul>
                    	<li>21-25岁的大陆公民</li>
                    	<li>手机绑定</li>
                    	<li>有固定工作</li>
                    </ul>
                    <h4>申请条件</h4>
                    <ul>
                    	<li>21-25岁的大陆公民</li>
                    	<li>手机绑定</li>
                    	<li>有固定工作</li>
                    </ul>
                    <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                </div>
                
            	<!--模块4-->
                <div class="jk_cont_in_cont" style="border-bottom:0">
                	<div class="jk_cont_in_cont_in">               
                        <h3 class="h3_04">担保标</h3>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>有固定工作</li>
                        </ul>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>有固定工作</li>
                        </ul>
                        <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                	</div>
                </div>
                
            	<!--模块5-->
                <div class="jk_cont_in_cont" style="border-bottom:0">
                	<div class="jk_cont_in_cont_in">
                        <h3 class="h3_05">抵押标</h3>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>有固定工作</li>
                        </ul>
                        <h4>申请条件</h4>
                        <ul>
                            <li>21-25岁的大陆公民</li>
                            <li>手机绑定</li>
                            <li>有固定工作</li>
                        </ul>
                        <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                	</div>
                </div>

            	<!--模块6-->
                <div class="jk_cont_in_cont" style="border-bottom:0">
                	<h3 class="h3_06">实地考察标</h3>
                    <h4>申请条件</h4>
                    <ul>
                    	<li>21-25岁的大陆公民</li>
                    	<li>手机绑定</li>
                    	<li>有固定工作</li>
                    </ul>
                    <h4>申请条件</h4>
                    <ul>
                    	<li>21-25岁的大陆公民</li>
                    	<li>手机绑定</li>
                    	<li>有固定工作</li>
                    </ul>
                    <div class="jk_btn"><a href="{:U('Borrow/circulation')}">立即申请</a></div>
                </div>
                
            </div>
        </div>
    </div>
    	
	<!--content end-->
</block>